     
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form id="<%=formName%>" class="form-horizontal">
                    <div class="card-body">
                        <h4 class="card-title"><%= __('MODEL_'+ model.modelName) %></h4>
                        <% model.schema.paths.createdAt.options.readOnly = true; %>
                        <% model.schema.paths.updatedAt.options.readOnly = true; %>
                        <% model.schema.paths._id.options.hideInForm = true; %>
                        <% model.schema.paths.__v.options.hideInForm = true; %>
                        <% Object.keys(model.schema.paths).forEach(element => { path = model.schema.paths[element] %>
                            <% if (!path.options.hideInForm) { %>
                                <div class="form-group row">
                                    <label for="<%= path.path %>" class="col-sm-3 text-end control-label col-form-label"><%= __('MODEL_' + model.modelName + '_' + path.path) %></label>
                                    <div class="col-sm-9">
                                    <% if (path.options.combo && path.options.combo.multiple) { %>
                                        <select id="<%= path.path %>" name="<%= path.path%>" class="select2 form-select shadow-none" multiple="multiple" style="width: 100%; height: 36px" <%= path.options.readOnly ? 'disabled' : ''%> >
                                        <% path.options.combo.values.forEach(v => { %>
                                            <option <%= locals.object && object[element].includes(v.value) ? 'selected' : '' %> value="<%=v.value%>"><%=v.text%></option>
                                        <% }) %>
                                        </select>
                                    <% } else if (path.options.combo) { %>
                                        <select id="<%= path.path %>" name="<%= path.path%>" class="select2 form-select shadow-none" style="width: 100%; height: 36px" <%= path.options.readOnly ? 'disabled' : ''%> >
                                            <option value=""></option>
                                        <% path.options.combo.values.forEach(v => { %>
                                            <% if (path.options.type.name == 'ObjectId') { %>
                                            <option <%= locals.object && object[element]._id.toString() == v.value ? 'selected' : '' %> value="<%=v.value%>"><%=v.text%></option>
                                            <% } else { %>
                                            <option <%= locals.object && object[element] == v.value ? 'selected' : '' %> value="<%=v.value%>"><%=v.text%></option>
                                            <% } %>
                                        <% }) %>
                                        </select>
                                    <% } else if (path.options.type.name == 'Boolean') { %>
                                        <select id="<%= path.path %>" name="<%= path.path%>" class="select2 form-select shadow-none" style="width: 100%; height: 36px" <%= path.options.readOnly ? 'disabled' : ''%>>
                                            <option <%= locals.object && object[element] ? 'selected' : '' %> value="true"><%= __('BOOLEAN_true') %></option>
                                            <option <%= locals.object && !object[element] ? 'selected' : '' %> value="false"><%= __('BOOLEAN_false') %></option>
                                        </select> 
                                    <% } else if (path.options.type.name == 'Date') { %>
                                        <div class="input-group">
                                            <input type="text" class="form-control mydatepicker" placeholder="<%=__('DATE_FORMAT')%>" id="<%= path.path %>" name="<%= path.path%>" <%= path.options.readOnly ? 'disabled' : ''%> value="<%= locals.object ? object[element] : '' %>" />
                                            <div class="input-group-append">
                                                <span class="input-group-text h-100"><i class="mdi mdi-calendar"></i></span>
                                            </div>
                                        </div>

                                    <% } else if (path.options.type.name == 'Number') { %>
                                        <input type="number" class="form-control" id="<%= path.path %>" name="<%= path.path%>" placeholder="" <%= path.options.readOnly ? 'disabled' : ''%> value="<%= locals.object ? object[element] : '' %>"/>
                                    <% } else if (path.options.password) { %>
                                        <input type="password" class="form-control" id="<%= path.path %>" name="<%= path.path%>" placeholder="" <%= path.options.readOnly ? 'disabled' : ''%> value="<%= locals.object ? object[element] : '' %>"/>
                                    <% } else if (path.options.fileUpload) { %>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="<%= path.path %>" name="<%= path.path%>" required />
                                        </div>
                                    <% } else { %>
                                        <input type="text" class="form-control" id="<%= path.path %>" name="<%= path.path%>" placeholder="" <%= path.options.readOnly ? 'disabled' : ''%> value="<%= locals.object ? object[element] : '' %>"/>
                                    <% } %>
                                    </div>
                                </div>               
                            <% } %>
                        <% }) %>
                        
        <div class="border-top">
            <div class="card-body">
                <% if (locals.permissions.includes('U')) { %>
                    <button id="<%=formName%>_submit_btn" type="button" class="btn btn-primary"><%= __('SAVE') %></button>
                <% } %>
                <button id="<%=formName%>_list_btn" type="button" class="btn btn-info"><%= __('LIST') %></button>
            </div>
        </div>
    </form>
</div>
        
        <script src="/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
        <script src="/dist/js/pages/mask/mask.init.js"></script>
        <script src="/assets/libs/select2/dist/js/select2.full.min.js"></script>
        <script src="/assets/libs/select2/dist/js/select2.min.js"></script>
        <script src="/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="/assets/libs/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js"></script>
        <script>
            //***********************************//
            // For select 2
            //***********************************//
            $(".select2").select2();
            
            /*datwpicker*/
            jQuery(".mydatepicker").datepicker({
                language: '<%=__("LANGUAGE")%>',
                todayHighlight: true,
            });
            jQuery("#datepicker-autoclose").datepicker({
                language: '<%=__("LANGUAGE")%>',
                autoclose: true,
                todayHighlight: true,
            });

            jQuery('#<%=formName%>_submit_btn').click(() => {
                var data = $('#<%=formName%>').serialize();
                $.ajax({
                    type: '<%= locals.object ? "PUT" : "POST" %>',
                    url: '<%= locals.api + (locals.object ? `/${object._id}` : ``) %>',
                    data: data,
                    dataType: 'json',
                    success: function(data) {
                        toastr.success("<%= __('SAVE_SUCCESS') %>", "<%= __('APP_NAME') %>")
                    },
                    error: function(error) {
                        console.error(error);
                        toastr.error("<%= __('SAVE_ERROR') %>", "<%= __('APP_NAME') %>")
                    },
                });
            })

            $('#<%=formName%>_list_btn').click(() => {
                window.location.replace('/<%=list%>')
            })
        </script>
</body>
</html>