      <!-- ============================================================== -->
      <!-- Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
              <% level0 = locals.sideApps.filter(f => f.parent == null || f.parent == '') %>
              <% level0.forEach(element => { %>
                <% level1 = locals.sideApps.filter(f => f.parent == element._id)%>
                <li class="sidebar-item">
                  <a class="sidebar-link <%=level1.length >0 ? 'has-arrow' : ''%> waves-effect waves-dark sidebar-link" href="<%=element.link%>" aria-expanded="false" >
                    <i class="<%=element.icon%>"></i><span class="hide-menu"><%= __(`APP_${element.name}`) %></span>
                  </a>
                  <% if (level1.length >0) { %> 
                    <ul aria-expanded="false" class="collapse first-level">
                      <% level1.forEach(element => { %>
                      <li class="sidebar-item">
                        <a class="sidebar-link" href="<%=element.link%>"><i class="<%=element.icon%>"></i><span class="hide-menu"><%= __(`APP_${element.name}`) %></span></a>
                      </li>
                      <% }) %>
                    </ul>
                    <% } %>
                    <% }) %>
                </li>
              </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
