      <!-- ============================================================== -->
      <!-- Topbar header - style you can find in pages.scss -->
      <!-- ============================================================== -->
      <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
          <div class="navbar-header" data-logobg="skin5">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <a class="navbar-brand" href="index.html">
              <!-- Logo icon -->
              <b class="logo-icon ps-2">
                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                <!-- Dark Logo icon -->
                <img src="/assets/images/logo-icon.png" alt="homepage" class="light-logo" width="25"/>
              </b>
              <!--End Logo icon -->
              <!-- Logo text -->
              <span class="logo-text ms-2">
                <!-- dark Logo text -->
                <img src="/assets/images/logo-text.png" alt="homepage" class="light-logo"/>
              </span>
            </a>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Toggle which is visible on mobile only -->
            <!-- ============================================================== -->
            <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
          </div>
          <!-- ============================================================== -->
          <!-- End Logo -->
          <!-- ============================================================== -->
          <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav float-start me-auto">
              <li class="nav-item d-none d-lg-block">
                <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a>
              </li>
              <!-- ============================================================== -->
              <!-- create new -->
              <!-- ============================================================== -->
              <% if (locals.detail || locals.list) { %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="d-none d-md-block"><%= __('MENU_ACTIONS') %> <i class="fa fa-angle-down"></i></span>
                  <span class="d-block d-md-none"><i class="fa fa-plus"></i></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <% if (locals.detail) { %>
                    <li><a class="dropdown-item" href="/<%=detail%>"><%= __('NEW_' + detail) %></a></li>
                  <% } %>
                  <% if (locals.list) { %>
                    <li><a class="dropdown-item" href="/<%=list%>"><%= __('LIST_' + list) %></a></li>
                  <% } %>
                </ul>
              </li>
              <% } %>
              <% level0 = locals.actionApps.filter(f => f.parent == null || f.parent == '') %>
              <% level0.forEach(element => { %>
                <% level1 = locals.actionApps.filter(f => f.parent == element._id)%>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="d-none d-md-block"><%= __('APP_' + element.name) %> <i class="fa fa-angle-down"></i></span>
                    <span class="d-block d-md-none"><i class="fa fa-plus"></i></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% level1.forEach(element => { %>
                      <li><a class="dropdown-item" href="<%=element.link%>"><%= __('APP_' + element.name) %></a></li> 
                  <% }) %>
                  </ul>
                </li>               
              <% }) %>

              <!-- ============================================================== -->
              <!-- Search -->
              <!-- ============================================================== -->
              <% if (locals.search) { %>
              <li class="nav-item search-box">
                <a class="nav-link waves-effect waves-dark" href="javascript:void(0)" data-target="<%=locals.search%>"><i class="mdi mdi-magnify fs-4"></i></a>
                <form class="app-search position-absolute">
                  <input type="text" class="form-control" placeholder="Search &amp; enter"/>
                  <a class="srh-btn"><i class="mdi mdi-window-close"></i></a>
                </form>
              </li>
              <% } %>
            </ul>
            <!-- ============================================================== -->
            <!-- Right side toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav float-end">
              <!-- ============================================================== -->
              <!-- User profile and search -->
              <!-- ============================================================== -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"/>
                </a>
                <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="javascript:void(0)"><i class="mdi mdi-account me-1 ms-1"></i> <%= locals.user ? user.username : __('GUEST') %></a>
                  <% if (locals.userApps) { %>
                    <% userApps.forEach(element => { %>
                      <a class="dropdown-item" href="<%=element.link%>"><i class="<%=element.icon%> me-1 ms-1"></i> <%= __('APP' + element.name) %></a>
                  <% }) %>
                <% } %>                  
                  <div class="dropdown-divider"></div>
                  <% if (locals.user) { %>
                    <a class="dropdown-item" href="/logout"><i class="fa fa-power-off me-1 ms-1"></i> Logout</a>
                  <% } else  { %>
                    <a class="dropdown-item" href="/login"><i class="fa fa-power-on me-1 ms-1"></i> Login</a> 
                  <% } %>
                </ul>
              </li>
              <!-- ============================================================== -->
              <!-- User profile and search -->
              <!-- ============================================================== -->
            </ul>
          </div>
        </nav>
      </header>
      <!-- ============================================================== -->
      <!-- End Topbar header -->
      <!-- ============================================================== -->
