<html>
        <head>
            <link rel="stylesheet" type="text/css" href="/assets/libs/select2/dist/css/select2.min.css" />
            <link rel="stylesheet" type="text/css" href="/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"/>        
        </head>
    <body>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form id="change_passwordForm" class="form-horizontal" action="change-password" method="post">
                        <div class="card-body">
                            <h4 class="card-title"><%= __('CHANGE_PASSWORD') %></h4>
                            <div class="form-group row">
                                <label for="oldPassword" class="col-sm-3 text-end control-label col-form-label"><%= __('OLD_PASSWORD') %></label>
                                <div class="col-sm-9"><input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder=""  value="" /></div>
                            </div> 
                            <div class="form-group row">
                                <label for="newPassword" class="col-sm-3 text-end control-label col-form-label"><%= __('NEW_PASSWORD') %></label>
                                <div class="col-sm-9"><input type="password" class="form-control" id="newPassword" name="newPassword" placeholder=""  value="" /></div>
                            </div> 
                            <div class="form-group row">
                                <label for="newPasswordVerify" class="col-sm-3 text-end control-label col-form-label"><%= __('NEW_PASSWORD_VERIFY') %></label>
                                <div class="col-sm-9"><input type="password" class="form-control" id="newPasswordVerify" name="newPasswordVerify" placeholder=""  value="" /></div>
                            </div> 
                            <div class="border-top">
                                <div class="card-body">
                                    <% if (locals.error || locals.message)  {%>
                                    <label class="col-sm-3 text-end control-label col-form-label"><%= locals.error || locals.message %></label>
                                    <% } %>
                                    <input type="hidden" class="form-control" id="id" name="id" placeholder=""  value="<%=user.id%>" /></div>
                                    <button id="profileForm_submit_btn" type="submit" class="btn btn-primary"><%= __('ACCEPT') %></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

<script src="/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
<script src="/dist/js/pages/mask/mask.init.js"></script>
<script src="/assets/libs/select2/dist/js/select2.full.min.js"></script>
<script src="/assets/libs/select2/dist/js/select2.min.js"></script>
<script src="/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/libs/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js"></script>
<script>
    //***********************************//
    // For select 2
    //***********************************//
    $(".select2").select2();
    
    /*datwpicker*/
    jQuery(".mydatepicker").datepicker({
        language: '<%=__("LANGUAGE")%>',
        todayHighlight: true,
    });
    jQuery("#datepicker-autoclose").datepicker({
        language: '<%=__("LANGUAGE")%>',
        autoclose: true,
        todayHighlight: true,
    });
</script>
</body>
</html>