<% if (!locals.formName) {formName = 'form'} %>
<link rel="stylesheet" type="text/css" href="/assets/libs/select2/dist/css/select2.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<form id="<%=model.modelName%>Form" class="form-horizontal">
				<div class="card-body">
					<h4 class="card-title">
						<%%= __('MODEL_<%=model.modelName%>') %%>
					</h4>
					<% Object.keys(model.schema.paths).forEach(element => { path = model.schema.paths[element] %>
					<% if (!path.options.hideInForm) { %>
					<div class="form-group row">
						<label for="<%= path.path %>" class="col-sm-3 text-end control-label col-form-label">
							<%%= __('MODEL_<%=model.modelName%>_<%=path.path%>')%%>
						</label>
						<div class="col-sm-9">
							<% if (path.options.combo && path.options.combo.collection) { %>
							<%-`\<select id="${path.path}" name="${path.path}" ${path.options.combo.multiple ? 'multiple="multiple"' : ''} class="select2 form-select shadow-none" style="width:100%; height: 36px" data-collection="${path.options.combo.collection.name}" data-show="${path.options.combo.collection.text}" data-value="\<\%= locals.object && locals.object.${path.path} ? object.${path.path}._id : '' \%\>"></select>`%>
							<% } else if (path.options.combo && path.options.combo.type) { %>
							<%-`\<select id="${path.path}" name="${path.path}" ${path.options.combo.multiple ? 'multiple="multiple"' : ''} class="select2 form-select shadow-none" style="width:100%; height: 36px" data-value-list="${path.options.combo.type}" data-value="\<\%=locals.object && locals.object.${path.path} ? object.${path.path} : '' \%\>"></select>`%>
							<% } else if (path.options.type.name == 'Boolean') { %>
							<select id="<%= path.path %>" name="<%= path.path%>" class="select2 form-select shadow-none" style="width: 100%; height: 36px" <%= path.options.readOnly ? 'disabled' : ''%>>
								<option value=""></option>
								<%-`	<option \<\%=locals.object && object["${path.path}"] ? 'selected' : '' \%\> value="true">\<\%= __('BOOLEAN_true') \%\></option>`%>
								<%-`	<option \<\%=locals.object && !object["${path.path}"] ? 'selected' : '' \%\> value="false">\<\%= __('BOOLEAN_false') \%\></option>`%>
								</option>
							</select>
							<% } else if (path.options.type.name == 'Date') { %>
							<div class="input-group">
								<input type="text" class="form-control mydatepicker" placeholder="<%%=__('DATE_FORMAT')%>" id="<%= path.path %>" name="<%= path.path%>" <%= path.options.readOnly ? 'disabled' : ''%> date-value="<%%= locals.object ? object['<%=path.path%>'] : '' %%>" />
								<div class="input-group-append">
									<span class="input-group-text h-100"><i class="mdi mdi-calendar"></i></span>
								</div>
							</div>

							<% } else if (path.options.type.name == 'Number') { %>
							<input type="number" class="form-control" id="<%= path.path %>" name="<%= path.path%>" placeholder="" <%= path.options.readOnly ? 'disabled' : ''%> value='<%%= locals.object ? object[' <%=path.path%>'] : '' %%>'/>
							<% } else if (path.options.password) { %>
							<input type="password" class="form-control" id="<%= path.path %>" name="<%= path.path%>" placeholder="" <%= path.options.readOnly ? 'disabled' : ''%> value="<%%= locals.object ? object['<%=path.path%>'] : '' %%>" />
							<% } else if (path.options.fileUpload) { %>
							<div class="custom-file">
								<input type="file" class="custom-file-input" id="<%= path.path %>" name="<%= path.path%>" required />
							</div>
							<% } else { %>
							<input type="text" class="form-control" id="<%= path.path %>" name="<%= path.path%>" placeholder="" <%= path.options.readOnly ? 'disabled' : ''%> value="<%%= locals.object ? object['<%=path.path%>'] : '' %%>" />
							<% } %>
						</div>
					</div>
					<% } %>
					<% }) %>
					<div class="border-top">
						<div class="card-body">
							<%% if (locals.permissions.includes('U')) { %>
							<button id="<%=model.modelName%>Form_submit_btn" type="button" class="btn btn-primary">
								<%%= __('SAVE') %>
							</button>
							<%% } %>
                            <input type="hidden" class="custom-file-input" id="id" name="id" value="<%%= locals.object ? locals.object.id : ''%>" />
                            <button id="<%=model.modelName%>Form_list_btn" type="button" class="btn btn-info">
                                <%%= __('LIST') %>
                            </button>
                            <button id="<%=model.modelName%>Form_search_btn" type="button" class="btn btn-warning">
                                <%%= __('SEARCH') %>
                            </button>
						</div>
					</div>
                </div>
			</form>
		</div>
	</div>
</div>
<script>
	$('#<%=model.modelName%>Form_submit_btn').click(() => {

		values = core.forms.parse('<%=model.modelName%>Form')
		if (values.id) core.api.update('/api/<%=model.modelName%>', values.id, values, null)
		else core.api.create('/api/<%=model.modelName%>', values, null)
	})

	$('#<%=model.modelName%>Form_list_btn').click(() => {
		window.location.replace('/<%=params.view%>/<%=model.modelName.toLowerCase()%>-list')
	})

	$('#<%=model.modelName%>Form_search_btn').click(() => {
		window.location.replace('/<%=params.view%>/<%=model.modelName.toLowerCase()%>-search')
	})
</script>